{% load static %}
<footer>
    <div class="wrap">
        <div class="bicolor">
            <span class="azul"></span>
            <span class="rojo"></span>
        </div>
        <div class="bottom">
            <div class="left">
                <span>Servicio de Salud Metropolitano Sur Oriente - Dirección: <br>Avda. Concha y Toro 3459, Puente Alto - Chile - Teléfono: (02) 25762300</span>
            </div>
            <nav>
                <ul>
                    <li>
                        <img src="{% static 'img/social/twitter.png' %}" alt="twitter logo" class="iconsocial">
                    </li>
                    <li>
                        <img src="{% static 'img/social/facebook.png' %}" alt="facebook logo" class="iconsocial">
                    </li>
                    <li>
                        <img src="{% static 'img/social/instagram.png' %}" alt="instagram logo" class="iconsocial">
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>
            <div class="bicolor">
                <span class="azul"></span>
                <span class="rojo"></span>
            </div>
        </div>
    </div>
</footer>