{% load static %}
<header style="background-image:url({% static 'img/header.jpg' %})">
    <div class="wrap">
        <h1 id="logo-main">
            <a href="#">
                <img src="{% static 'img/logo.jpg' %}">
            </a>
        </h1>
        <nav id="menu-principal">
        <!-- Menu Principal -->
        <ul id="menu-main-menu" class="menu-main">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13">
                <a href="/">Inicio</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15">
                <a href="#">Fase prequirúrgica</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                        <a href="#">Interconsulta</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167">
                        <a href="#">Evaluación pre-quirúrgica</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                        <a href="#">Programación cirugía</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161">
                        <a href="#">Programación pabellón</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3709">
                <a href="#">Fase quirúrgica</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3884">
                        <a href="#">Preparación paciente</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127">
                        <a href={% url "preparacionPabellon" %}>Preparación pabellón</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127">
                        <a href="#">Intervención quirúrgica</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3710">
                <a href="#">Fase postquirúrgica</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                        <a href="#">Recuperación y alta</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                        <a href="#">Seguimiento</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7568">
                {%if user.is_authenticated %}
                    <a href="#">Bienvenid@ {{user.username}}</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190">
                            <a href="{% url 'logout'%}">Cerrar sesión</a>
                        </li>
                    </ul>
                {% endif %}
            
                
            </li>
        </ul>            
    </nav>
        <a href="#" id="menu-movil-trigger">Advertencia, esta página no está hecha para una vista móvil</a>
    </div>
</header>