<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    {% include 'common/head.html' %}
</head>
<body>
   
    {% include 'common/header.html' %}
    
    <div class="container wrap mb-4">
        <div class="card mb-5 m-auto border  p-3 col-md " style="max-width: 1000px;">
            
            <table class="table">
                <thead class="thead">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pabellon</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Tipo de cirugia</th>
                    <th scope="col">Doctor</th>
                    <th scope="col"></th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                    {% for item in pabellones%}
                    <tr>

                    <th scope="row">1</th>
                    <td>{{item.nombrePabellon}}</td>
                    <td>{{item.disponible}}</td>
                    <td>{{item.id_cirugia}}</td>
                    <td>{{item.id_doctor}}</td>
                    <td><a class="btn btn-primary btn-block btn-sm" href={% url 'chequeoRecursos' item.id_pabellon %}>Validar</a></td>
                    </tr> 
                    {% endfor %}
                  
                </tbody>
            </table>
            


        </div>
        
          
          
    </div>
   


    {% include 'common/footer.html' %}

    {% include 'common/scripts.html' %}

</body>
</html>